<div class="register-form">
  <span class="border">
     <div class="row h-100 justify-content-center align-items-center" style="font-weight: 600;font-size: large;">Results</div>
     <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          Pat:
        </div>
        <div class="col">
          {{patForLNGTerminal()}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pat for integrated Model:
        </div>
        <div class="col">
          {{patForIntegrated()}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pat for tolling and merchant:
        </div>
        <div class="col">
          {{patForTollingAndmerchant()}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pat for Tolling:
        </div>
        <div class="col">
          {{patforTolling()}}
        </div>
      </div>
      
    </div>
    
  </span>
</div>